In [1]:
import pandas as pd
Goal4 = pd.read_excel('../shared_data_read_only/Goal4.xlsx')

## Filter and work on the country of focus

#### These countries can be spelt differently sometimes in the dataset (Example Congo Dem. Rep. can also be spelt out as Congo Democratic Republic)

In [2]:
#Country of focus
countries = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan','Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo','Congo, Democratic Republic', 'Costa Rica', 'Croatia', "Côte d'Ivoire", 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)','Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Vanuatu','Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [3]:
for i,j in enumerate(countries):
    print(i,j)

0 Afghanistan
1 Albania
2 Algeria
3 Angola
4 Antigua and Barbuda
5 Argentina
6 Armenia
7 Azerbaijan
8 Bangladesh
9 Belarus
10 Belize
11 Benin
12 Bhutan
13 Bolivia
14 Bosnia and Herzegovina
15 Botswana
16 Brazil
17 Bulgaria
18 Burkina Faso
19 Burundi
20 Cabo Verde
21 Cambodia
22 Cameroon
23 Central African Republic
24 Chad
25 Chile
26 China
27 Colombia
28 Comoros
29 Congo
30 Congo, Democratic Republic
31 Costa Rica
32 Croatia
33 Côte d'Ivoire
34 Djibouti
35 Dominica
36 Dominican Republic
37 Ecuador
38 Egypt
39 El Salvador
40 Equatorial Guinea
41 Eritrea
42 Eswatini
43 Ethiopia
44 Fiji
45 Gabon
46 Gambia
47 Georgia
48 Ghana
49 Grenada
50 Guatemala
51 Guinea
52 Guinea-Bissau
53 Guyana
54 Haiti
55 Honduras
56 India
57 Indonesia
58 Iran (Islamic Republic of)
59 Iraq
60 Jamaica
61 Jordan
62 Kazakhstan
63 Kenya
64 Kiribati
65 Kosovo
66 Kyrgyzstan
67 Lao People's Democratic Republic
68 Lebanon
69 Lesotho
70 Liberia
71 Libya
72 Madagascar
73 Malawi
74 Malaysia
75 Maldives
76 Mali
77 Marshall Islands
78 Mauritania
79 Mauritius
80 Mexico
81 Micronesia (Federated States of)
82 Moldova
83 Mongolia
84 Montenegro
85 Morocco
86 Mozambique
87 Myanmar
88 Namibia
89 Nauru
90 Nepal
91 Nicaragua
92 Niger
93 Nigeria
94 North Macedonia
95 Pakistan
96 Palau
97 Panama
98 Papua New Guinea
99 Paraguay
100 Peru
101 Philippines
102 Poland
103 Romania
104 Russian Federation
105 Rwanda
106 Saint Kitts and Nevis
107 Saint Lucia
108 Saint Vincent and the Grenadines
109 Samoa
110 Sao Tome and Principe
111 Senegal
112 Serbia
113 Seychelles
114 Sierra Leone
115 Solomon Islands
116 Somalia
117 South Africa
118 South Sudan
119 Sri Lanka
120 Sudan
121 Suriname
122 Syrian Arab Republic
123 Tajikistan
124 Thailand
125 Timor-Leste
126 Togo
127 Tonga
128 Trinidad and Tobago
129 Tunisia
130 Turkey
131 Turkmenistan
132 Tuvalu
133 Uganda
134 Ukraine
135 United Republic of Tanzania
136 Uruguay
137 Uzbekistan
138 Vanuatu
139 Venezuela
140 Vietnam
141 Yemen
142 Zambia
143 Zimbabwe

So how do we mitiage spelling issues?

In [4]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Verify integrity of Data set

In [5]:
Goal4.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51'],
      dtype='object')

In [6]:
Goal4 = Goal4[['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units']]

In [7]:
Goal4.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill',
       'Units'],
      dtype='object')

In [8]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,FootNote,Age,Education level,Location,Nature,Quantile,Reporting Type,Sex,Type of skill,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_MATH,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,MALE,SKILL_READ,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,FEMALE,SKILL_READ,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT

# Nans 

Now that the data frame holds the actual data, we can view the nans.

In [9]:
len(Goal4)

191762

In [10]:
Goal4.isnull().sum()

Goal                      0
Target                    0
Indicator                 0
SeriesCode                0
SeriesDescription         0
GeoAreaCode               0
GeoAreaName               0
TimePeriod                0
Value                 12192
Time_Detail               0
TimeCoverage         191762
UpperBound           191762
LowerBound           191762
BasePeriod           189486
Source                    0
GeoInfoUrl           191762
FootNote             176950
Age                  191281
Education level       17879
Location              78911
Nature                    0
Quantile              55387
Reporting Type            0
Sex                   48829
Type of skill        175898
Units                     0
dtype: int64

In [11]:
Goal4.isnull().sum() /len(Goal4)

Goal                 0.000000
Target               0.000000
Indicator            0.000000
SeriesCode           0.000000
SeriesDescription    0.000000
GeoAreaCode          0.000000
GeoAreaName          0.000000
TimePeriod           0.000000
Value                0.063579
Time_Detail          0.000000
TimeCoverage         1.000000
UpperBound           1.000000
LowerBound           1.000000
BasePeriod           0.988131
Source               0.000000
GeoInfoUrl           1.000000
FootNote             0.922758
Age                  0.997492
Education level      0.093235
Location             0.411505
Nature               0.000000
Quantile             0.288832
Reporting Type       0.000000
Sex                  0.254633
Type of skill        0.917272
Units                0.000000
dtype: float64

In [12]:
Goal4["Units"].value_counts()

PERCENT    117723
Ratio       71763
CON_USD      2276
Name: Units, dtype: int64

In [13]:
Goal4["Goal"].value_counts()
#They are all the same, we can likely drop this.

4    191762
Name: Goal, dtype: int64

In [14]:
Goal4["Target"].value_counts()
#This is a wierd ordering. 4 is the goal. Why is there some ".number/character"

4.1    80340
4.5    71763
4.c    13535
4.a    10546
4.2     6127
4.4     5929
4.b     2276
4.3     1009
4.6      237
Name: Target, dtype: int64

With some null exploration in mind we should drop anything that is over 30% null. The rest we can predict using an Sklearn method.

In [15]:
for i, element in enumerate(Goal4.isnull().sum() /len(Goal4) ) :
    if i > .3:
        print(element)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.06357881123475975
0.0
1.0
1.0
1.0
0.9881311208685767
0.0
1.0
0.922758419290579
0.9974916823979725
0.09323536467078983
0.4115048862652663
0.0
0.2888319896538417
0.0
0.2546333475871132
0.9172724523106768
0.0

# Dropping Data

In [16]:
features = list(Goal4.columns)

In [17]:
nullPercents = list( Goal4.isnull().sum() /len(Goal4))

In [18]:
from operator import itemgetter
sorted(zip(features, nullPercents), key = itemgetter(1), reverse = True)
# If looks

[('TimeCoverage', 1.0),
 ('UpperBound', 1.0),
 ('LowerBound', 1.0),
 ('GeoInfoUrl', 1.0),
 ('Age', 0.9974916823979725),
 ('BasePeriod', 0.9881311208685767),
 ('FootNote', 0.922758419290579),
 ('Type of skill', 0.9172724523106768),
 ('Location', 0.4115048862652663),
 ('Quantile', 0.2888319896538417),
 ('Sex', 0.2546333475871132),
 ('Education level', 0.09323536467078983),
 ('Value', 0.06357881123475975),
 ('Goal', 0.0),
 ('Target', 0.0),
 ('Indicator', 0.0),
 ('SeriesCode', 0.0),
 ('SeriesDescription', 0.0),
 ('GeoAreaCode', 0.0),
 ('GeoAreaName', 0.0),
 ('TimePeriod', 0.0),
 ('Time_Detail', 0.0),
 ('Source', 0.0),
 ('Nature', 0.0),
 ('Reporting Type', 0.0),
 ('Units', 0.0)]

In [19]:
drop = []
replace = []
for (name, percent) in sorted(zip(features, nullPercents), key = itemgetter(1), reverse = True):
    if(percent >.30):
        drop.append(name)
    elif ( percent <= .30 and percent >0):
        replace.append(name)
drop

['TimeCoverage',
 'UpperBound',
 'LowerBound',
 'GeoInfoUrl',
 'Age',
 'BasePeriod',
 'FootNote',
 'Type of skill',
 'Location']

In [20]:
Goal4.drop(drop ,inplace = True, axis = 1)

In [21]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Quantile,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,NaN,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,NaN,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,BOTHSEX,PERCENT

With columns with the majority of data done we need to fill in values for the columns with a small percent of missing values. 

- **Note**: The only real continuous value we have is value. What exactly are we supposed to model on? Target and indicator could indicate rank but I feel unsure about that.

In [22]:
replace
#These have some missing values. In order to fill them we must be using ordinal values.

['Quantile', 'Sex', 'Education level', 'Value']

# Indicators and their missing values 

We need to determine in the amount of nulls is skewed to a certain indicator. If it is we have a problem

In [42]:
#All missing values and where they occur
Goal4.isnull().sum()

Goal                     0
Target                   0
Indicator                0
SeriesCode               0
SeriesDescription        0
GeoAreaCode              0
GeoAreaName              0
TimePeriod               0
Value                12192
Time_Detail              0
Source                   0
Education level      17879
Nature                   0
Quantile             55387
Reporting Type           0
Sex                  48829
Units                    0
dtype: int64

In [59]:
#While it might be hard to read. 
#The number in the columns indicate how many of that indicator their is 
Goal4.groupby(["Indicator"]).count()

,Goal,Target,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Quantile,Reporting Type,Sex,Units
Indicator,,,,,,,,,,,,,,,,
4.1.1,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,3989,0,3989,3989,3989
4.1.2,76351,76351,76351,76351,76351,76351,76351,71785,76351,76351,76351,76351,76351,76351,76351,76351
4.2.1,244,244,244,244,244,244,244,244,244,244,0,244,0,244,244,244
4.2.2,5883,5883,5883,5883,5883,5883,5883,5883,5883,5883,0,5883,0,5883,5883,5883
4.3.1,1009,1009,1009,1009,1009,1009,1009,1009,1009,1009,0,1009,0,1009,1009,1009
4.4.1,5929,5929,5929,5929,5929,5929,5929,5929,5929,5929,0,5929,0,5929,5929,5929
4.5.1,71763,71763,71763,71763,71763,71763,71763,64137,71763,71763,69462,71763,60024,71763,35756,71763
4.6.1,237,237,237,237,237,237,237,237,237,237,0,237,0,237,237,237
4.a.1,10546,10546,10546,10546,10546,10546,10546,10546,10546,10546,10546,10546,0,10546,0,10546
4.b.1,2276,2276,2276,2276,2276,2276,2276,2276,2276,2276,0,2276,0,2276,0,2276
4.c.1,13535,13535,13535,13535,13535,13535,13535,13535,13535,13535,13535,13535,0,13535,13535,13535

In [57]:
#This tells where the missing values in the "Sex" feature are. 
Goal4.groupby(["Indicator"]).agg({'Sex' : lambda x: x.isnull().sum()})

             Sex
Indicator
4.1.1          0
4.1.2          0
4.2.1          0
4.2.2          0
4.3.1          0
4.4.1          0
4.5.1      36007
4.6.1          0
4.a.1      10546
4.b.1       2276
4.c.1          0

In [58]:
#This tells where the missing values in the "Value" feature are. 
Goal4.groupby(["Indicator"]).agg({'Value' : lambda x: x.isnull().sum()})

            Value
Indicator
4.1.1         0.0
4.1.2      4566.0
4.2.1         0.0
4.2.2         0.0
4.3.1         0.0
4.4.1         0.0
4.5.1      7626.0
4.6.1         0.0
4.a.1         0.0
4.b.1         0.0
4.c.1         0.0

In [61]:

Goal4.groupby(["Indicator"]).agg({'Education level' : lambda x: x.isnull().sum()})

           Education level
Indicator
4.1.1                    0
4.1.2                    0
4.2.1                  244
4.2.2                 5883
4.3.1                 1009
4.4.1                 5929
4.5.1                 2301
4.6.1                  237
4.a.1                    0
4.b.1                 2276
4.c.1                    0

In [60]:
Goal4.groupby(["Indicator"]).agg({'Quantile' : lambda x: x.isnull().sum()})

           Quantile
Indicator
4.1.1          3989
4.1.2             0
4.2.1           244
4.2.2          5883
4.3.1          1009
4.4.1          5929
4.5.1         11739
4.6.1           237
4.a.1         10546
4.b.1          2276
4.c.1         13535

# Filling in missing values

In [24]:
# We want to use sklearn to fill in the ordinal values 
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit_transform(Goal4)

array([[4, '4.1', '4.1.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.1', '4.1.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.1', '4.1.1', ..., 'G', 'MALE', 'PERCENT'],
       ...,
       [4, '4.c', '4.c.1', ..., 'G', 'MALE', 'PERCENT'],
       [4, '4.c', '4.c.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.c', '4.c.1', ..., 'G', 'FEMALE', 'PERCENT']], dtype=object)

In [25]:
df= pd.DataFrame( imputer.fit_transform(Goal4)  ,columns = Goal4.columns)

In [26]:
#Everything should be zero after transforming the df 
df.isnull().sum()

Goal                 0
Target               0
Indicator            0
SeriesCode           0
SeriesDescription    0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
Source               0
Education level      0
Nature               0
Quantile             0
Reporting Type       0
Sex                  0
Units                0
dtype: int64

In [27]:
Goal4.Quantile.value_counts()

_T    36665
Q3    19942
Q5    19942
Q4    19942
Q2    19942
Q1    19942
Name: Quantile, dtype: int64

In [28]:
Goal4.Quantile.value_counts().sum() # Not the full magnitude of the dataset.

136375

In [29]:
df.head() # Woo, our missing values should be gone.

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Quantile,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,_T,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,_T,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,_T,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,_T,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,_T,G,BOTHSEX,PERCENT

In [30]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit_transform(df).shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.head()