In [1]:
import pandas as pd
Goal4 = pd.read_excel('../shared_data_read_only/Goal4.xlsx')

## Filter and work on the country of focus

#### These countries can be spelt differently sometimes in the dataset (Example Congo Dem. Rep. can also be spelt out as Congo Democratic Republic)

In [2]:
#Country of focus
countries = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan','Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo','Congo, Democratic Republic', 'Costa Rica', 'Croatia', "Côte d'Ivoire", 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)','Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Vanuatu','Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [3]:
for i,j in enumerate(countries):
    print(i,j)

0 Afghanistan
1 Albania
2 Algeria
3 Angola
4 Antigua and Barbuda
5 Argentina
6 Armenia
7 Azerbaijan
8 Bangladesh
9 Belarus
10 Belize
11 Benin
12 Bhutan
13 Bolivia
14 Bosnia and Herzegovina
15 Botswana
16 Brazil
17 Bulgaria
18 Burkina Faso
19 Burundi
20 Cabo Verde
21 Cambodia
22 Cameroon
23 Central African Republic
24 Chad
25 Chile
26 China
27 Colombia
28 Comoros
29 Congo
30 Congo, Democratic Republic
31 Costa Rica
32 Croatia
33 Côte d'Ivoire
34 Djibouti
35 Dominica
36 Dominican Republic
37 Ecuador
38 Egypt
39 El Salvador
40 Equatorial Guinea
41 Eritrea
42 Eswatini
43 Ethiopia
44 Fiji
45 Gabon
46 Gambia
47 Georgia
48 Ghana
49 Grenada
50 Guatemala
51 Guinea
52 Guinea-Bissau
53 Guyana
54 Haiti
55 Honduras
56 India
57 Indonesia
58 Iran (Islamic Republic of)
59 Iraq
60 Jamaica
61 Jordan
62 Kazakhstan
63 Kenya
64 Kiribati
65 Kosovo
66 Kyrgyzstan
67 Lao People's Democratic Republic
68 Lebanon
69 Lesotho
70 Liberia
71 Libya
72 Madagascar
73 Malawi
74 Malaysia
75 Maldives
76 Mali
77 Marshall Islands
78 Mauritania
79 Mauritius
80 Mexico
81 Micronesia (Federated States of)
82 Moldova
83 Mongolia
84 Montenegro
85 Morocco
86 Mozambique
87 Myanmar
88 Namibia
89 Nauru
90 Nepal
91 Nicaragua
92 Niger
93 Nigeria
94 North Macedonia
95 Pakistan
96 Palau
97 Panama
98 Papua New Guinea
99 Paraguay
100 Peru
101 Philippines
102 Poland
103 Romania
104 Russian Federation
105 Rwanda
106 Saint Kitts and Nevis
107 Saint Lucia
108 Saint Vincent and the Grenadines
109 Samoa
110 Sao Tome and Principe
111 Senegal
112 Serbia
113 Seychelles
114 Sierra Leone
115 Solomon Islands
116 Somalia
117 South Africa
118 South Sudan
119 Sri Lanka
120 Sudan
121 Suriname
122 Syrian Arab Republic
123 Tajikistan
124 Thailand
125 Timor-Leste
126 Togo
127 Tonga
128 Trinidad and Tobago
129 Tunisia
130 Turkey
131 Turkmenistan
132 Tuvalu
133 Uganda
134 Ukraine
135 United Republic of Tanzania
136 Uruguay
137 Uzbekistan
138 Vanuatu
139 Venezuela
140 Vietnam
141 Yemen
142 Zambia
143 Zimbabwe

In [4]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Verify integrity of Data set

In [5]:
Goal4.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51'],
      dtype='object')

In [6]:
Goal4 = Goal4[['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill', 'Units']]

In [7]:
Goal4.columns

Index(['Goal', 'Target', 'Indicator', 'SeriesCode', 'SeriesDescription',
       'GeoAreaCode', 'GeoAreaName', 'TimePeriod', 'Value', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'Age', 'Education level', 'Location',
       'Nature', 'Quantile', 'Reporting Type', 'Sex', 'Type of skill',
       'Units'],
      dtype='object')

In [8]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,FootNote,Age,Education level,Location,Nature,Quantile,Reporting Type,Sex,Type of skill,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_MATH,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,...,NaN,NaN,PRIMAR,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,MALE,SKILL_READ,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,FEMALE,SKILL_READ,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,...,NaN,NaN,GRAD23,NaN,C,NaN,G,BOTHSEX,SKILL_READ,PERCENT

# Nans 

Now that the data frame holds the actual data, we can view the nans.

In [9]:
len(Goal4)

191762

In [10]:
Goal4.isnull().sum()

Goal                      0
Target                    0
Indicator                 0
SeriesCode                0
SeriesDescription         0
GeoAreaCode               0
GeoAreaName               0
TimePeriod                0
Value                 12192
Time_Detail               0
TimeCoverage         191762
UpperBound           191762
LowerBound           191762
BasePeriod           189486
Source                    0
GeoInfoUrl           191762
FootNote             176950
Age                  191281
Education level       17879
Location              78911
Nature                    0
Quantile              55387
Reporting Type            0
Sex                   48829
Type of skill        175898
Units                     0
dtype: int64

In [11]:
Goal4.isnull().sum() /len(Goal4)

Goal                 0.000000
Target               0.000000
Indicator            0.000000
SeriesCode           0.000000
SeriesDescription    0.000000
GeoAreaCode          0.000000
GeoAreaName          0.000000
TimePeriod           0.000000
Value                0.063579
Time_Detail          0.000000
TimeCoverage         1.000000
UpperBound           1.000000
LowerBound           1.000000
BasePeriod           0.988131
Source               0.000000
GeoInfoUrl           1.000000
FootNote             0.922758
Age                  0.997492
Education level      0.093235
Location             0.411505
Nature               0.000000
Quantile             0.288832
Reporting Type       0.000000
Sex                  0.254633
Type of skill        0.917272
Units                0.000000
dtype: float64

In [12]:
Goal4["Units"].value_counts()

PERCENT    117723
Ratio       71763
CON_USD      2276
Name: Units, dtype: int64

In [13]:
Goal4["Goal"].value_counts()
#They are all the same, we can likely drop this.

4    191762
Name: Goal, dtype: int64

In [14]:
Goal4["Target"].value_counts()
#This is a wierd ordering. 4 is the goal. Why is there some ".number/character"

4.1    80340
4.5    71763
4.c    13535
4.a    10546
4.2     6127
4.4     5929
4.b     2276
4.3     1009
4.6      237
Name: Target, dtype: int64

With some null exploration in mind we should drop anything that is over 30% null. The rest we can predict using an Sklearn method.

In [15]:
for i, element in enumerate(Goal4.isnull().sum() /len(Goal4) ) :
    if i > .3:
        print(element)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.06357881123475975
0.0
1.0
1.0
1.0
0.9881311208685767
0.0
1.0
0.922758419290579
0.9974916823979725
0.09323536467078983
0.4115048862652663
0.0
0.2888319896538417
0.0
0.2546333475871132
0.9172724523106768
0.0

# Dropping Data

In [16]:
features = list(Goal4.columns)

In [17]:
nullPercents = list( Goal4.isnull().sum() /len(Goal4))

In [18]:
from operator import itemgetter
sorted(zip(features, nullPercents), key = itemgetter(1), reverse = True)
# If looks

[('TimeCoverage', 1.0),
 ('UpperBound', 1.0),
 ('LowerBound', 1.0),
 ('GeoInfoUrl', 1.0),
 ('Age', 0.9974916823979725),
 ('BasePeriod', 0.9881311208685767),
 ('FootNote', 0.922758419290579),
 ('Type of skill', 0.9172724523106768),
 ('Location', 0.4115048862652663),
 ('Quantile', 0.2888319896538417),
 ('Sex', 0.2546333475871132),
 ('Education level', 0.09323536467078983),
 ('Value', 0.06357881123475975),
 ('Goal', 0.0),
 ('Target', 0.0),
 ('Indicator', 0.0),
 ('SeriesCode', 0.0),
 ('SeriesDescription', 0.0),
 ('GeoAreaCode', 0.0),
 ('GeoAreaName', 0.0),
 ('TimePeriod', 0.0),
 ('Time_Detail', 0.0),
 ('Source', 0.0),
 ('Nature', 0.0),
 ('Reporting Type', 0.0),
 ('Units', 0.0)]

In [19]:
drop = []
replace = []
for (name, percent) in sorted(zip(features, nullPercents), key = itemgetter(1), reverse = True):
    if(percent >.30):
        drop.append(name)
    elif ( percent <= .30 and percent >0):
        replace.append(name)
drop

['TimeCoverage',
 'UpperBound',
 'LowerBound',
 'GeoInfoUrl',
 'Age',
 'BasePeriod',
 'FootNote',
 'Type of skill',
 'Location']

In [20]:
Goal4.drop(drop ,inplace = True, axis = 1)

In [21]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Education level,Nature,Quantile,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,NaN,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,PRIMAR,C,NaN,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,GRAD23,C,NaN,G,BOTHSEX,PERCENT

With columns with the majority of data done we need to fill in values for the columns with a small percent of missing values. 

- **Note**: The only real continuous value we have is value. What exactly are we supposed to model on? Target and indicator could indicate rank but I feel unsure about that.

In [22]:
replace
#These have some missing values. In order to fill them we must be using ordinal values.

['Quantile', 'Sex', 'Education level', 'Value']

# Indicators and their missing values 

We need to determine in the amount of nulls is skewed to a certain indicator. If it is we have a problem

In [23]:
#All missing values and where they occur
Goal4.isnull().sum()

Goal                     0
Target                   0
Indicator                0
SeriesCode               0
SeriesDescription        0
GeoAreaCode              0
GeoAreaName              0
TimePeriod               0
Value                12192
Time_Detail              0
Source                   0
Education level      17879
Nature                   0
Quantile             55387
Reporting Type           0
Sex                  48829
Units                    0
dtype: int64

In [24]:
Goal4.groupby(["Indicator"]).count()["Goal"]

Indicator
4.1.1     3989
4.1.2    76351
4.2.1      244
4.2.2     5883
4.3.1     1009
4.4.1     5929
4.5.1    71763
4.6.1      237
4.a.1    10546
4.b.1     2276
4.c.1    13535
Name: Goal, dtype: int64

In [25]:
#While it might be hard to read. 
#The number in the columns indicate how many of that indicator their is 
instances = list( Goal4.groupby(["Indicator"]).count()["Goal"] )

In [26]:
Goal4.groupby(["Indicator"]).agg({'Sex' : lambda x: x.isnull().sum()})["Sex"]

Indicator
4.1.1        0
4.1.2        0
4.2.1        0
4.2.2        0
4.3.1        0
4.4.1        0
4.5.1    36007
4.6.1        0
4.a.1    10546
4.b.1     2276
4.c.1        0
Name: Sex, dtype: int64

In [27]:
#This tells where the missing values in the "Sex" feature are. 
Goal4.groupby(["Indicator"]).agg({'Sex' : lambda x: x.isnull().sum()})["Sex"] / instances

Indicator
4.1.1    0.000000
4.1.2    0.000000
4.2.1    0.000000
4.2.2    0.000000
4.3.1    0.000000
4.4.1    0.000000
4.5.1    0.501749
4.6.1    0.000000
4.a.1    1.000000
4.b.1    1.000000
4.c.1    0.000000
Name: Sex, dtype: float64

In [28]:
#This tells where the missing values in the "Value" feature are. 
Goal4.groupby(["Indicator"]).agg({'Value' : lambda x: x.isnull().sum()})['Value'] / instances

Indicator
4.1.1    0.000000
4.1.2    0.059803
4.2.1    0.000000
4.2.2    0.000000
4.3.1    0.000000
4.4.1    0.000000
4.5.1    0.106266
4.6.1    0.000000
4.a.1    0.000000
4.b.1    0.000000
4.c.1    0.000000
Name: Value, dtype: float64

In [29]:
Goal4.groupby(["Indicator"]).agg({'Education level' : lambda x: x.isnull().sum()})['Education level'] / instances

Indicator
4.1.1    0.000000
4.1.2    0.000000
4.2.1    1.000000
4.2.2    1.000000
4.3.1    1.000000
4.4.1    1.000000
4.5.1    0.032064
4.6.1    1.000000
4.a.1    0.000000
4.b.1    1.000000
4.c.1    0.000000
Name: Education level, dtype: float64

In [30]:
Goal4.groupby(["Indicator"]).agg({'Quantile' : lambda x: x.isnull().sum()})['Quantile'] / instances

Indicator
4.1.1    1.00000
4.1.2    0.00000
4.2.1    1.00000
4.2.2    1.00000
4.3.1    1.00000
4.4.1    1.00000
4.5.1    0.16358
4.6.1    1.00000
4.a.1    1.00000
4.b.1    1.00000
4.c.1    1.00000
Name: Quantile, dtype: float64

I looks like Quantity and Education level are missing for most indicators. Likely the threshhold for keeping was too high. We should get rid of them and move on.

In [31]:
Goal4.drop(['Quantile', 'Education level'], inplace = True, axis =1)

# Filling in missing values

In [32]:
# We want to use sklearn to fill in the ordinal values 
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit_transform(Goal4)

array([[4, '4.1', '4.1.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.1', '4.1.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.1', '4.1.1', ..., 'G', 'MALE', 'PERCENT'],
       ...,
       [4, '4.c', '4.c.1', ..., 'G', 'MALE', 'PERCENT'],
       [4, '4.c', '4.c.1', ..., 'G', 'BOTHSEX', 'PERCENT'],
       [4, '4.c', '4.c.1', ..., 'G', 'FEMALE', 'PERCENT']], dtype=object)

In [33]:
Goal4= pd.DataFrame( imputer.fit_transform(Goal4)  ,columns = Goal4.columns)

In [34]:
#Everything should be zero after transforming the df 
Goal4.isnull().sum()

Goal                 0
Target               0
Indicator            0
SeriesCode           0
SeriesDescription    0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
Source               0
Nature               0
Reporting Type       0
Sex                  0
Units                0
dtype: int64

In [35]:
Goal4.head() # Woo, our missing values should be gone.

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Nature,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,C,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,C,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT

Now that we have data frame we must convert our categorical values 

# Ordinal Encoding

In [36]:
Goal4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191762 entries, 0 to 191761
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Goal               191762 non-null  object
 1   Target             191762 non-null  object
 2   Indicator          191762 non-null  object
 3   SeriesCode         191762 non-null  object
 4   SeriesDescription  191762 non-null  object
 5   GeoAreaCode        191762 non-null  object
 6   GeoAreaName        191762 non-null  object
 7   TimePeriod         191762 non-null  object
 8   Value              191762 non-null  object
 9   Time_Detail        191762 non-null  object
 10  Source             191762 non-null  object
 11  Nature             191762 non-null  object
 12  Reporting Type     191762 non-null  object
 13  Sex                191762 non-null  object
 14  Units              191762 non-null  object
dtypes: object(15)
memory usage: 21.9+ MB

In [37]:
Goal4.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Nature,Reporting Type,Sex,Units
0,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,11.0,2013,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT
1,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,13.0,2013,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT
2,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,21.5,2016,National Learning Assessment (NLA): Monitoring...,C,G,MALE,PERCENT
3,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.5,2016,National Learning Assessment (NLA): Monitoring...,C,G,FEMALE,PERCENT
4,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,22.0,2016,National Learning Assessment (NLA): Monitoring...,C,G,BOTHSEX,PERCENT

In [38]:
#We should probably keep GeoAreaName as it is for labeling.
numerical_data = Goal4[["Goal" , "Target", "Indicator" ,"GeoAreaCode", "GeoAreaName","TimePeriod", "Value", "Time_Detail"]]
categorical_data = Goal4.copy()
categorical_data.drop(["Goal" , "Target", "Indicator" ,"GeoAreaCode", "GeoAreaName","TimePeriod", "Value", "Time_Detail"], inplace = True, axis = 1)

In [39]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
#Only do it on the categorical features 
#This any non-object we save in a numerical features matrix and a categorical data.
ordinal_data = ordinal_encoder.fit_transform(categorical_data)

In [40]:
ordinal_encoder.categories_

[array(['DC_TOF_SCHIPSL', 'SE_ACC_HNDWSH', 'SE_ACS_CMPTR', 'SE_ACS_ELECT',
        'SE_ACS_H2O', 'SE_ACS_INTNT', 'SE_ACS_SANIT', 'SE_ADT_ACTS',
        'SE_ADT_EDUCTRN', 'SE_ADT_FUNS', 'SE_AGP_CPRA', 'SE_ALP_CPLR',
        'SE_AWP_CPRA', 'SE_DEV_ONTRK', 'SE_GPI_ICTS', 'SE_GPI_PART',
        'SE_GPI_PTNPRE', 'SE_GPI_TCAQ', 'SE_IMP_FPOF', 'SE_INF_DSBL',
        'SE_LGP_ACHI', 'SE_NAP_ACHI', 'SE_PRE_PARTN', 'SE_TOT_CPLR',
        'SE_TOT_GPI', 'SE_TOT_PRFL', 'SE_TOT_RUPI', 'SE_TOT_SESPI',
        'SE_TRA_GRDL'], dtype=object),
 array(['Adjusted gender parity index for completion rate, by sex, location, wealth quintile and education level',
        'Adjusted location parity index for completion rate, by sex, location, wealth quintile and education level',
        'Adjusted wealth parity index for completion rate, by sex, location, wealth quintile and education level',
        'Completion rate, by sex, location, wealth quintile and education level (%)',
        'Gender parity index for achievement (ratio)',
        'Gender parity index for participation rate in formal and non-formal education and training (ratio)',
        'Gender parity index for participation rate in organized learning (one year before the official primary entry age), (ratio)',
        'Gender parity index for youth/adults with information and communications technology (ICT) skills, by type of skill (ratio)',
        'Gender parity index of trained teachers, by education level (ratio)',
        'Immigration status parity index for achieving at least a fixed level of proficiency in functional skills, by numeracy/literacy skills (ratio)',
        'Language test parity index for achievement (ratio)',
        'Low to high socio-economic parity status index for achievement (ratio)',
        'Native parity index for achievement (ratio)',
        'Participation rate in formal and non-formal education and training, by sex (%)',
        'Participation rate in organized learning (one year before the official primary entry age), by sex (%)',
        'Proportion of children aged 36−59 months who are developmentally on track in at least three of the following domains: literacy-numeracy, physical development, social-emotional development, and learning (% of children aged 36-59 months)',
        'Proportion of children and young people achieving a minimum proficiency level in reading and mathematics (%)',
        'Proportion of population achieving at least a fixed level of proficiency in functional skills, by sex, age and type of skill (%)',
        'Proportion of schools with access to adapted infrastructure and materials for students with disabilities, by education level (%)',
        'Proportion of teachers who have received at least the minimum organized teacher training (e.g. pedagogical training) pre-service or in-service required for teaching at the relevant level in a given country, by sex and education level (%)',
        'Proportion of youth and adults with information and communications technology (ICT) skills, by sex and type of skill (%)',
        'Rural to urban parity index for achievement (ratio)',
        'Schools with access to basic drinking water, by education level (%)',
        'Schools with access to the internet for pedagogical purposes, by education level (%)',
        'Schools with access to\xa0access to single-sex basic sanitation, by education level (%)',
        'Schools with access to\xa0computers for pedagogical purposes, by education level (%)',
        'Schools with access to\xa0electricity, by education level (%)',
        'Schools with basic handwashing facilities, by education level (%)',
        'Total official flows for scholarships, by recipient countries (millions of constant 2018 United States dollars)'],
       dtype=object),
 array(['AGENCE NATIONALE DE REGLEMENTATION DES TELECOMMUJNICATIONS',
        'ARTCI', 'Adult Education Survey (AES).',
        'Adult Education Survey (AES).;DSTAT:Participation in education and training (formal, non-formal and informal learning) of adults population aged 25-64. Reference period for the participation in education and training: the twelve months prior to the interview.',
        'Agence Nationale de Réglementation des Télécommunications',
        'Agence Nationale de Réglementation des Télécommunications (ANRT)',
        'Agency for Statistics of Bosnia and Herzegovina',
        'Agency for statistics of Bosnia and Herzegovina',
        'Algemene Directie Statistiek - Statistics Belgium\nDirection Générale Statistique - Statistics Belgium',
        'Authority for Info-communications Technology Industry of Brunei Darussalam',
        'Authority for Info-communications Technology Industry of Brunei Darussalam (AITI)',
        'BPS-Statistics Indonesia', 'Bangladesh Bureau of Statistics(BBS)',
        'Botswana Core Welfare Indicators (Poverty) Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Brazilian Institute of Geography and Statistics',
        'Brazilian Internet Steering Committee',
        'Census and Statistics Department',
        'Central Agency For Public Mobilization And Statistics (CAPMAS)',
        'Central Bureau of Statistics',
        'Central Organization for Statistics And Information Technology',
        'Central Statistical Bureau of Latvia',
        'Central Statistical Bureau of latvia',
        'Central Statistical Office', 'Central Statistical Organization',
        'Central Statistics Office', 'Cetic.br',
        'Committee on Statistics, Ministry of National Economy of the Republic of Kazakhstan',
        'Communication and Information Technology Commission',
        'Communication and Information Technology Commission (CITC)',
        'Communication and Information Technology Regulatory Authority',
        'Communications & IT Commission',
        'Communications and Media Commission',
        'Communications andI nformation Technology Commision',
        'Community survey on ICT usage in households and by individuals (Eurostat)',
        'Continous Household Employment Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Continous Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Continous Multi-Purpose Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Continuous DHS',
        'Continuous Employment Survey (Urban). Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Continuous Multi-Purpose Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Continuous National Labour Force Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Core Welfare Indicators Questionnaire. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Croatian Bureau of Statistics', 'Czech Statistical Office',
        'DHS ',
        'Demographic and Health Surveys (DHS), Multiple Indicator Cluster Surveys (MICS) and other national surveys ',
        'Departamento Administrativo Nacional de Estadistica (DANE)',
        'Departamento Administrativo Nacional de Estadística - DANE',
        'Department of Statistics', 'Department of Statistics Malaysia',
        'Department of Statistics, Malaysia',
        'Direction Générale Statistique - Statistics Belgium',
        'Direction de la Statistique',
        'Direction de la Statistique et des Etudes Démographiques',
        'ENS/MICS', 'ENSANUT ',
        'Employment, Unemployment Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Eurostat', 'Federal Competitiveness and Statistics Authorithy',
        'Federal State Statistics Service (ROSSTAT)',
        'Federal State Statistics Service (Rosstat)',
        'Federal State Statistics Service (Rosstat) ',
        'Federal State Statistics Service of the Russian Federation',
        'Federal Statistical Office',
        'GHAGHA - HIES - Living. Reference period for participation in education and training: unknown, likely 12 months for attendance in formal education, and last 6 weeks for attendance in non-formal education/training.',
        'Geostat', 'Hellenic Statistical Authority',
        'Household Income and Expenditure Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Household Socio-Economic Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Household Surveys',
        'Household income and Expenditure Survey. Reference period for participation in education and training: unknown, likely 12 months prior to the interview.',
        'Household survey of Cameroon. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Hungarian Central Statistical Office',
        'Hungarian Central Statistical Office ', 'ICHNS',
        'INSTAT (Institute of Statistics)',
        'INSTITUTO NACIONAL DE ESTATISTICA', 'ITU',
        'InfoComm Development Authority of Singapore',
        'Infocomm Development Authority of Singapore',
        'Infocomm Media Development Authority',
        'Infocomm Media Development Authority ',
        'Information Technology Authority ',
        'Information and E-Government Authority',
        'Institut National de la Statistique',
        'Institut National de la Statistique et des Etudes Economiques',
        "Institut de Statistiques et d'tudes Economiques",
        'Institut national de la statistique et des études économiques et démographiques ',
        'Institute of Statistics', 'Instituto Nacional de Estadistica',
        'Instituto Nacional de Estadistica e Informatica',
        'Instituto Nacional de Estadistica y Censos',
        'Instituto Nacional de Estadística (INE)',
        'Instituto Nacional de Estadística e Informática - INEI',
        'Instituto Nacional de Estadística y Geografía (INEGI)',
        'Instituto Nacional de Estatistica',
        'Instituto Nacional de Estatística',
        'Integrated Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'International Telecommunication Union (ITU)',
        'Italian National Institute of Statistics',
        'LFS - Continous Household. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'LFS - Household Sample. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'LFS - Household. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'LFS - Labour force survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'LFS - Labour force. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'LLECE 2006', 'LLECE 2013',
        'Labour Force Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Labour Market Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Labour force sample survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Labour force survey. Reference period for participation in education and training: last 12 months for attendance in formal education, and last 6 weeks for attendance in non-formal education/training.',
        'Labour force survey. Reference period for participation in education and training: last 4 weeks prior to the interview.',
        'Living Standards Survey. Reference period for participation in education and training: unknown, likely 12 months for attendance in formal education, and last 6 weeks for attendance in non-formal education/training.',
        'Living standards survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'MICS', 'MICS 2017', 'MICS 2017-18', 'MICS 2018', 'MICS 2018-19',
        'MICS 2019', 'MICS Factsheets',
        'Ministriy of Sceience and ICT(MSIT)',
        'Ministry Of Transport and Communications',
        'Ministry of Communications and Information Technology',
        'Ministry of Information & Communication Technology',
        'Ministry of Internal Affairs and Communications',
        'Ministry of National Economy of the Republic of Kazakhstan\nCommittee on Statistics',
        'Ministry of Post, Telecommunications, Technologies and Digital',
        'Ministry of Science and ICT', 'Ministry of Science and ICT(MSIT)',
        'Ministry of Science, ICT & Future Planning(MSIP)',
        'Ministry of Technology and Communications (MTC)',
        'Ministry of Transport and Communications',
        'Ministry of Transport, Communications and Information Technology ',
        "Ministère des Postes, des Télécommunications et de l'Economie Numérique",
        'Monthly Employment and Income Survey. Reference period for participation in education and training: last 6 months prior to the interview.',
        'Monthly Employment and Income Survey. Reference period for participation in education and training: unknown, likely last 6 months prior to the interview.',
        'Multi-purpose household survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'Multiple Indicator Cluster Survey (MICS6); Children attending grade 2/3; Minimum proficiency level: Foundational reading skills',
        'NIC.br',
        'National Assessment (NA): Functional Literacy, Education and Mass Media Survey (FLEMMS);Proficient = Level 4, Level 3, Level 2, Level 1;Not Proficient = Level 0, Undetermined',
        'National Assessment (NA): General Household Survey;Proficient = Completion of Grade 7 or Higher;Not Proficient = Completion up to Grade 7',
        'National Assessment (NA): General Household Survey;Proficient = Completion of Grade 7 or Higher;Not Proficient = Completion up to Grade 8',
        'National Assessment (NA): General Household Survey;Proficient = Completion of Grade 7 or Higher;Not Proficient = Completion up to Grade 9',
        'National Assessment (NA): General Household Survey;Proficient = No Difficulty, Some Difficulty, A lot of Difficulty (calculation for change in rand);Not Proficient = Unable to Do (calculation for change in rand)',
        'National Assessment (NA): IT bland individer',
        'National Assessment (NA): Kenya National Adult Literacy Survey Report 2007;Proficient = Level 5, Level 4, Level 3;Not Proficient = Level 2, Level 1, Level 0',
        'National Assessment (NA): Literacy Assessment Survey (LAS);Proficient = Literate and Advanced;Literate at Initial Level;Not Proficient = SemiLiterate, NonLiterate',
        'National Assessment (NA): Literacy Assessment and Monitoring Programme (LAMP);Proficient = Level 3, Level 2;Not Proficient = Level 1',
        'National Assessment (NA): Literacy Assessment and Monitoring Programme (LAMP);Proficient = Level 3, Level 2;Not Proficient = Level 1;Combination of Prose and Documents',
        'National Employment Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'National Household Survey 2018-I',
        'National Household Survey on Measuring Living Conditions. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'National Household Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'National Institute of Statistics',
        'National Institute of Statistics, Minsitry of Planning, Cambodia',
        'National Labor Force Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'National Labour Force Survey. Reference period for participation in education and training: unknown, likely 1 month prior to the interview.',
        'National Learning Assessment (NLA): Chinese National Compulsory Education Quality Assessment; Grade 4 (+1); Minimum proficiency level: Good+Moderate',
        'National Learning Assessment (NLA): Chinese National Compulsory Education Quality Assessment; Grade 8 (-1); Minimum proficiency level: Moderate',
        'National Learning Assessment (NLA): Learning Assessment of Secondary Institutions (LASI); Grade 8; Minimum proficiency level: Band 4',
        'National Learning Assessment (NLA): Learning Assessment of Secondary Institutions (LASI); Grade 8; Minimum proficiency level: Band 4; Reading',
        'National Learning Assessment (NLA): Learning Assessment of Secondary Institutions (LASI); Grade 8; Minimum proficiency level: Band 5; Domain: Reading (Dzongkha)',
        'National Learning Assessment (NLA): Learning Assessment of Secondary Institutions (LASI); Grade 8; Minimum proficiency level: Band 5; Reading',
        'National Learning Assessment (NLA): Monitoring Trends in Educational Growth (MTEG) assessment; Grade 3; Minimum proficiency level: 7',
        'National Learning Assessment (NLA): Monitoring Trends in Educational Growth (MTEG) assessment; Grade 3; Minimum proficiency level: 8',
        'National Learning Assessment (NLA): Monitoring Trends in Educational Growth (MTEG) assessment; Grade 6; Minimum proficiency level: 10',
        'National Learning Assessment (NLA): Monitoring Trends in Educational Growth (MTEG) assessment; Grade 6; Minimum proficiency level: 9',
        'National Learning Assessment (NLA): National Achievement Survey; Grade 3; Minimum proficiency level: Proficient',
        'National Learning Assessment (NLA): National Achievement Survey; Grade 5; Minimum proficiency level: Proficient',
        'National Learning Assessment (NLA): National Assessment Systems for Monitoring Learner Achievement (NASMLA); Grade 3; Minimum proficiency level: Level 3',
        'National Learning Assessment (NLA): National Assessment Systems for Monitoring Learner Achievement (NASMLA); Grade 3; Minimum proficiency level: Level 3; Reading',
        'National Learning Assessment (NLA): National Assessment of Progress in Education (NAPE); Grade 3; Minimum proficiency level: Advance',
        'National Learning Assessment (NLA): National Assessment of Progress in Education (NAPE); Grade 3; Minimum proficiency level: Advanced Level',
        'National Learning Assessment (NLA): National Assessment; Grade 4 (+1); Minimum proficiency level: Proficient ',
        'National Learning Assessment (NLA): National Assessment; Grade 5; Minimum proficiency level: Level 4',
        'National Learning Assessment (NLA): National Assessment; Grade 6; Minimum proficiency level: Level 3: Proficient',
        'National Learning Assessment (NLA): National Education Assessment (NEA) in Bhutan; Grade 10 (-1); Minimum proficiency level: Level 3',

In [41]:
ordinal_data.shape

(191762, 7)

In [42]:
type(numerical_data)

pandas.core.frame.DataFrame

In [43]:
type(numerical_data.to_numpy() )

numpy.ndarray

In [44]:
type(ordinal_data)

numpy.ndarray

In [45]:
np.c_[numerical_data.to_numpy(), ordinal_data ]

array([[4, '4.1', '4.1.1', ..., 0.0, 0.0, 1.0],
       [4, '4.1', '4.1.1', ..., 0.0, 0.0, 1.0],
       [4, '4.1', '4.1.1', ..., 0.0, 2.0, 1.0],
       ...,
       [4, '4.c', '4.c.1', ..., 0.0, 2.0, 1.0],
       [4, '4.c', '4.c.1', ..., 0.0, 0.0, 1.0],
       [4, '4.c', '4.c.1', ..., 0.0, 1.0, 1.0]], dtype=object)

In [46]:
all_columns =  list(numerical_data.columns) + list(categorical_data.columns)

In [47]:
df = pd.DataFrame(np.c_[numerical_data.to_numpy() , ordinal_data], columns = all_columns)

In [48]:
df.head()

,Goal,Target,Indicator,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,SeriesCode,SeriesDescription,Source,Nature,Reporting Type,Sex,Units
0,4,4.1,4.1.1,4,Afghanistan,2013,11.0,2013,25.0,16.0,168.0,0.0,0.0,0.0,1.0
1,4,4.1,4.1.1,4,Afghanistan,2013,13.0,2013,25.0,16.0,167.0,0.0,0.0,0.0,1.0
2,4,4.1,4.1.1,4,Afghanistan,2016,21.5,2016,25.0,16.0,166.0,0.0,0.0,2.0,1.0
3,4,4.1,4.1.1,4,Afghanistan,2016,22.5,2016,25.0,16.0,166.0,0.0,0.0,1.0,1.0
4,4,4.1,4.1.1,4,Afghanistan,2016,22.0,2016,25.0,16.0,166.0,0.0,0.0,0.0,1.0

In [49]:
df.to_csv("./cleaned_data.csv")